html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body, #root {
  height: 300vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.SubRow {
  position: absolute;
  top: 100vh;
}

.Filter {
  /* background: rgba(0,0,0, .5); */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  -moz-box-shadow: inset 0 0 20px #005b96;
  -webkit-box-shadow: inset 0 0 20px #005b96;
  box-shadow: inset 0 0 20px #005b96;
}

.Work {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.Links>hr {
  height: 6vh;
}

.Links>a {
  color: white;
  font-size: 5vh;
}

.Links>a:visited {
  color: white;
}

.Title {
  font-size: 20vh;
}
