@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body, #root {
  height: 300vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.WhiteLayer {
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh;
  color: transparent
}

.Title {
  font-size: 20vh;
  /* background: inherit; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Amatic SC';
  font-weight: bold;
}

.SubRow {
  position: absolute;
  top: 100vh;
}

.DWork {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

.Work {
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  overflow: hidden;
}

.Links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
  }

.Links>hr {
  height: 3vh;
  color: white;
}

.Links>a {
  color: white;
  font-size: 5vh;
}

.Links>a:visited {
  color: white;
}
